Mirrors/Library/
*.csproj
*.sln
Mirrors/Temp/
*.suo
*.userprefs
Mirrors/Mirrors.zip
CardboardMirrors/Library/
CardboardMirrors/Temp/UnityTempFile-d36e275ec9a2c5046b665eb30fbe7009
CardboardMirrors/Temp/
